.login-page-bg {
    background-color: #e0d6d1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    max-width: 450px;
    width: 90%; /* Responsivo */
    padding: 40px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333333;
}

.login-form input {
    width: 100%;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #beaba1;
    font-size: 16px;
    box-sizing: border-box;
    font-style: italic;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background-color: #beaba1;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #a48f83;
}

.login-error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.login-register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.login-register-link span {
    color: #beaba1;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.login-register-link span:hover {
    color: #a48f83;
}